/* css */
body {
    background-color: #d6d4e0;
    display: inline-block;
}

h1 {
    text-align: center;
    color: #5b9aa0;
    size: 150px;
    font-family: Verdana, Geneva, Tahoma, sans-serif, monospace;
}

h2 {
    text-align: center;
    color: #5b9aa0;
    font-family: Verdana, Geneva, Tahoma, sans-serif, monospace;
}

#image {
    display: inline-block;
    padding: 50px;
    align-items: center;
    width: auto;
    height: auto;
    border: darkblue;
    margin: auto;
    }

#introduction {
    display: inline-block;
    block-size: 25px;
    height: auto;
    width: 60%;
    font-family:Verdana, Geneva, Tahoma, sans-serif, monospace;
    color: darkblue;
    text-align: justify;
    padding: 5px;
    line-height: 1.5;
}

#start {
    border: 10px solid transparent;
    padding: 100px, 100px;
    border-radius: 100px;
    font-family:Verdana, Geneva, Tahoma, sans-serif, monospace;
    color: #5b9aa0;
}