/* css */
body {
    background-color: #d6d4e0;
    text-align: center;
}

#root {
    text-align: center;
    color: #5b9aa0;
    size: 96px;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: 25px;
    line-height: 1;
}

#image {
    display: inline-block;
    vertical-align: middle;
    margin-right: 60px;
    width: auto;
    height: auto;
}


#introduction {
    display: inline-block;
    height: auto;
    vertical-align: middle;
    width: 60%;
    font-family:Verdana, Geneva, Tahoma, sans-serif, monospace;
    color: darkblue;
    text-align: justify;
    line-height: 1.35;
}

.btn {
    border: 10px solid transparent;
    align-items: center;
    padding: 100px, 100px;
    border-radius: 100px;
    color: #5b9aa0;
    font-family:'Indie Flower', cursive;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    width: 400px;
    height: fit-content;
}

.btn:active{
    position: relative;
    top: 2px;
}

#about {
    height: auto;
    width: auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif, monospace;
    color: darkblue;
    text-align: justify;
    line-height: 1.35;
    position: relative;
    bottom: 0;
}

#choosing {
    display: inline;
    height: auto;
    width: 60%;
    font-family:Verdana, Geneva, Tahoma, sans-serif, monospace;
    color: darkblue;
    text-align: center;
    line-height: 1.35;
}